### Constants

1.  Print `pi` (&pi; &asymp; 3.14)
2.  Print `LETTERS` and `letters`
3.  Verify that these are `character` vectors
4.  Print `month.name` and `month.abb`
5.  Verify that `month.abb` is a vector is `TRUE`
6.  Print Euler's number e to precision 10

### Solution

In [1]:
print(pi); pi
LETTERS
letters
class(LETTERS)
month.name
month.abb
is.vector(month.name)
options(digits=10)
exp(1)

#+begin_example
[1] 3.141593
[1] 3.141593
 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"
[1] "character"
 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"
 [1] "Jan" "Feb" "Mar" "Apr" "May" "Jun" "Jul" "Aug" "Sep" "Oct" "Nov" "Dec"
[1] TRUE
[1] 2.718281828
#+end_example

### E-notation

Look at the `help` for the `options` function if necessary.

1.  Show the current value of how many digits are displayed
2.  Reset this value to 15 (you know two ways to do this)
3.  Store 100,000,000 in an object `foo` and print it
4.  Print `foo` using `format` and set the attribute `scientific` to `FALSE`:
    `format(foo, scientific=FALSE)`
5.  Enter 0.00000000000000010
6.  Enter `exp(1000)` and `(-1)/0`
7.  Enter `sqrt(-1)`

In [1]:
...

### Solution

In [1]:
options()$digits # show current value
options(digits=15); options()$digits  # change value and show change
foo <- 10000000; foo
format(foo, scientific=FALSE)
0.00000000000000010
sqrt(-1)

[1] 7
[1] 15
[1] 1e+07
[1] "10000000"
[1] 1e-16
[1] NaN

### Special numbers

Execute the following expressions in an R code block - before running
it with `C-c C-c`, think about the likely output!

1.  `Inf + 1`
2.  `Inf - 1`
3.  `Inf - Inf`
4.  `Inf / Inf`
5.  `1/0`
6.  `-1/0`
7.  `NA`
8.  `NA + NA`
9.  `NaN`
10. `NaN + NaN`

### Solution

![img](./img/4_special.png)

### Special functions

1.  Enter `10^309` and `10^308`. What's going on?
2.  Subtract `sqrt(2)**2` from `2`. What's going on?
3.  Show that `sqrt(2)**2` and `2` are not identical using `identical`
4.  Show that `sqrt(2)**2` and `2` are almost identical using `all.equal`
5.  Is `NA` finite in R?
6.  Show that `NaN` is not a number
7.  Are missing values numbers in R?

<div class="notes" id="orgcd8ca6d">
<ol class="org-ol">
<li><code>10^309</code> is <code>Inf</code>. The last number is infinite, because the largest
number that can be represented by a 64-bit computer is
1.7976931348623157e+308.</li>
<li>Subtract <code>sqrt(2)^2</code> from <code>2</code>. The answer is: <code>4.440892e-16</code>.</li>
</ol>

</div>

In [1]:
...

### Solution

In [1]:
10^309 # Inf - cannot be represented by a 64-bit computer
10^308
2-sqrt(2)**2
identical(sqrt(2)**2,2)
all.equal(sqrt(2)**2,2)
is.finite(NA)
is.nan(NA) # missing values are not non-numbers

[1] Inf
[1] 1e+308
[1] -4.440892e-16
[1] FALSE
[1] TRUE
[1] FALSE
[1] FALSE

### Logical values

1.  Print `TRUE`
2.  Can you use `true` instead of `TRUE`?
3.  Can you use `T` instead of `TRUE`?
4.  Assign `FALSE` to an R object named `T`
5.  Print `T`
6.  What type of R object is `TRUE`?

<div class="notes" id="org3ee72b3">
<p>
Richard Cotton (2011) calls R's logic "Troolean" logic, because
besides the so-called Boolean values <code>TRUE</code> and <code>FALSE</code>, R also has a
third logical value, the "missing" value, <code>NA</code>
</p>


<div id="org237e8a0" class="figure">
<p>[img src="./img/4_predef.png" alt="4_predef.png" /](img src="./img/4_predef.png" alt="4_predef.png" /)
</p>
</div>

</div>

### Solution

In [1]:
TRUE
T  # printing true generates an error
T <- FALSE
T
class(TRUE)

[1] TRUE
[1] TRUE
[1] FALSE
[1] "logical"

### Logical operators

1.  Check equality of `sqrt(2)^2` and `2` using a logical operator.
2.  Check that "1 is equal 2 or 1 is not equal 1" is `FALSE`.

<div class="notes" id="org076b597">
<p>
Comparing non-integers is iffy, because non-integers (floating-point
numbers) are only an approximation of the "pure", real numbers - how
accurate they are depends on the architecture of your computer. In
practice, this means that rounding errors can creep in your
calculations, leading to wildly wrong answers. [a href="https://cran.r-project.org/doc/FAQ/R-FAQ.html#Why-doesn_0027t-R-think-these-numbers-are-equal_003f">The R FAQ has an own
entry about it</a](a href="https://cran.r-project.org/doc/FAQ/R-FAQ.html#Why-doesn_0027t-R-think-these-numbers-are-equal_003f">The R FAQ has an own
entry about it</a). The figure shows a simple example: <code>sqrt(2)^2</code> and <code>2</code>
should be the same, but they aren't as far as R is concerned - a
logical comparison with <code>==</code> gives <code>FALSE</code>. To test near equality (bar
rounding errors), you can use the function <code>all.equal</code>. To test for
exact equality, use <code>identical</code>:
</p>


<div id="org83a0d11" class="figure">
<p>[img src="./img/4_floating.png" alt="4_floating.png" /](img src="./img/4_floating.png" alt="4_floating.png" /)
</p>
</div>

<p>
<b>CHALLENGE:</b> (1) Check the help pages <code>?all.equal</code> and
<code>?identical</code>. (2) Which of these numbers are infinite? <code>0</code>, <code>Inf</code>,
<code>-Inf</code>, <code>NaN</code>, <code>NA</code>, <code>10^308</code>, <code>10^309</code>. (3) How small is the
rounding error in the example in the figure actually?
</p>

</div>

### Solution

In [1]:
sqrt(2)^2 == 2
(1 == 2) | (1 != 1)

[1] FALSE
[1] FALSE