### Open problems

1.  `lengths` vs. `length` ([doc](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lengths.html))
    
    Example:

In [1]:
# computes the length of lists or atomic vectors as an integer or numeric vector
foo <- list(1, c(2,3,4), list(letters[1:3],3.14))
length(foo)
lengths(foo)
length(mtcars)
lengths(mtcars)

: [1] 3
     : [1] 1 3 2
     : [1] 11
     :  mpg  cyl disp   hp drat   wt qsec   vs   am gear carb
     :   32   32   32   32   32   32   32   32   32   32   32

Compute the product of the lengths of all elements of `foo`:

In [1]:
## manually
lengths(foo)[1] * lengths(foo)[2] * lengths(foo)[3]
## with prod
prod(lengths(foo))
## with a for loop
result = 1
for (element in lengths(foo)) result <- result * element
print(result)

: [1] 6
     : [1] 6
     : [1] 6

1.  `X22` into `22` in a `read.table` dataframe
    
    We read some text and numerical data into a table. Unfortunately,
    there was a typo and now one of the values reads 'X22' instead
    of 22. Fix it!

In [1]:
## Create flawed table
read.table(header = TRUE,
           text="
                 'name' 'age'
                 'joe' 'X22'
                 'jim' '23'
") -> name_age
name_age

      name age
    1  joe X22
    2  jim  23

1.  Extract the element using `[]` and store it in `string`
2.  Split the letter and the number using `strsplit`:
    -   separate non-digit and the digit part with `gsub`
    -   split modified string by the separating empty space with `strstplit`
    -   `unlist` the result and st
3.  Overwrite table with the number using `<-`

In [1]:
string <- name_age[1,2]  #1  # output "X22"

                                        #~ replace the non-digit character with a space
string_modified <- gsub("\\D", " ", string) # output " 22"

## split the modified string by the empty string
split_string <- unlist(strsplit(string_modified, " ")) # output list "" "22"

## reinsert the result as numeric in the table name_age
name_age[1,2] <- as.numeric(split_string[2]) # output 22

## print result
name_age

:   name age
     : 1  joe  22
     : 2  jim  23

As one command:

In [1]:
extract <- function(x,index) x[index]

name_age

gsub("\\D"," ",name_age[1,2]) |>
  strsplit(" ") |>
  unlist() |>
  as.numeric() |>
  extract(2) -> name_age[1,2]

name_age

:   name age
     : 1  joe X22
     : 2  jim  23
     :   name age
     : 1  joe  22
     : 2  jim  23