In-class assignment: Subsetting and Extracting
==============================================

**Author:** [YourName]

## README

-   Practice file for the lecture on "Subsetting and extracting indices
    in R" ([GitHub](https://github.com/birkenkrahe/ds1/blob/piHome/org/6_subsetting.org))
-   All content from that lecture is also available [on YouTube](https://www.youtube.com/playlist?list=PL6SfZh1-kWXl3_YDc-8SS5EuG4h1aILHz)
-   Create, execute and debug R code blocks as needed
-   Upload the completed file as a class assignment ([Canvas](https://lyon.instructure.com/courses/568/assignments/2952))
-   You find the solutions in the PDF repository (GitHub)

## 10 QUESTIONS ABOUT THE NILE

1.  Print the length of the data set `Nile` using an R function.

1.  Retrieve the second to fifth value of the `Nile` data set.

1.  Which data science (not R) question does the last output answer?
    Write a full sentence.

>      &#x2026;#+begin<sub>src</sub> R

\#+end<sub>src</sub>

1.  Extract the year that corresponds to the last value of
    `Nile`. Remember that the years are stored in `time(Nile)`.

1.  What was the Nile flow in 1967? Tip: use a logical operator, and
    store `time(Nile)` in `t` for the remaining questions.

1.  What is the index of the third-to-last element of `Nile`? Use the
    `which` function to answer this question.

1.  How many values of `Nile` are larger than the third-to-last value?

1.  How much water flowed down the Nile between 1871 and 1970?

1.  In which year was the Nile at its lowest level? Use the `min`
    function for this task and store the result in `tmin`

1.  Make a line plot of all observations in the data set `Nile` using
    `plot`, mark the year of the lowest level of the Nile with a
    vertical line, and the average flow through the Nile with a
    horizontal line. The result is stored in `nile.png`.
    
    You can draw a vertical line at point `x` with `abline(v=x)`, and a
    horizontal line at point `y` with `abline(h=y)`.

In [1]:
...

Tip: You can change the appearance of lines with the parameters `col`,
    `lty`, `lwd`. E.g. `col="red, lty=2, lwd=2` for a red, dashed, thick
    line.